@tailwind base;
@tailwind utilities;
@tailwind components;

:target:before {
	content: '';
	display: block;
	height: 75px;
	margin: -75px 0 0;
}

@media (min-width: 768px) {
	:target:before {
		content: '';
		display: block;
		height: 200px;
		margin: -200px 0 0;
	}

	#project:target:before {
		content: '';
		display: block;
		height: 100px;
		margin: -100px 0 0;
	}
}

:root {
	--scrollbarThumb: #155e75;
	--scrollbarBg: #ffffff;
}

/* Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: var(--scrollbarThumb) var(--scrollbarBg);
	scroll-behavior: smooth;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 6px;
}

*::-webkit-scrollbar-track {
	background: var(--scrollbarBg);
	border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
	background-color: var(--scrollbarThumb);
	border-radius: 4px;
}

.vertical-rl {
	writingmode: 'vertical-rl';
	-webkit-writing-mode: vertical-lr;
	-ms-writing-mode: vertical-lr;
}
